<template name="questionTemplate">
    <tr class="questionsRow">
        {{#if isOwner}}
            {{#if isYesNo}}
                <td rowspan="2"><span>{{question}}</span></td>
            {{/if}}
            {{#if isMulti}}
                <td rowspan="4"><span>{{question}}</span></td>
            {{/if}}
        {{/if}}
        {{#unless isOwner}}
            <td><span>{{question}}</span></td>
            <td>
                {{#if isYesNo}}
                    <form class="formYesNoAnswer" data-questId="{{this._id}}">
                        <input type="radio" class="YesNoRadioButtons" name="yesNo" value="yes">Yes
                        <input type="radio" class="YesNoRadioButtons" name="yesNo" value="no">No
                    </form>
                {{/if}}

                {{#if isMulti}}
                    <form class="formMultiAnswer" data-questId="{{this._id}}">
                        <input type="radio" class="MultiRadioButtons" name="multi" value="choice1"> {{choice1}}
                        <input type="radio" class="MultiRadioButtons" name="multi" value="choice2"> {{choice2}}
                        <input type="radio" class="MultiRadioButtons" name="multi" value="choice3"> {{choice3}}
                        <input type="radio" class="MultiRadioButtons" name="multi" value="choice4"> {{choice4}}
                    </form>
                {{/if}}
            </td>
        {{/unless}}

        {{#if isOwner}}
            {{#if isYesNo}}
                <td>
                    <span class="pre">Yes: {{answersYes}}</span>
                </td>
                <td rowspan="2">
                    <span class="pre">{{answersReceived}}</span>
                </td>

                <td rowspan="2">
                    <button class="btnDelQuestion">Delete</button>
                </td>
            {{/if}}
            {{#if isMulti}}
                <td><span class="pre">"{{choice1}}": {{answersChoice1}}</span></td>
                <td rowspan="4"><span class="pre">{{answersReceived}}</span></td>
                <td rowspan="4"><button class ="btnDelQuestion">Delete</button></td>
            {{/if}}
        {{/if}}
    </tr>
    {{#if isOwner}}
        {{#if isYesNo}}
            <tr>
                <td><span class="pre">No: {{answersNo}}</span></td>
            </tr>
        {{/if}}
        {{#if isMulti}}
            <tr>
                <td><span class="pre">"{{choice2}}": {{answersChoice2}}</span></td>
            </tr>
            <tr>
                <td><span class="pre">"{{choice3}}": {{answersChoice3}}</span></td>
            </tr>
            <tr>
                <td><span class="pre">"{{choice4}}": {{answersChoice4}}</span></td>
            </tr>

        {{/if}}
    {{/if}}
</template>